/****************************** Forum ******************************/
form{
    display: flex;
    justify-content: center;
}
#champ-texte{
    text-align: center;
    width: 800px;
    border: 2px solid #4D3BFB;
    border-radius: 15px;
    height: 35px;
}
::placeholder{
    color: #9DBEFD;
    font-size: 15px;
    font-family: 'Roboto-Medium';
}



